<form role="form">
	<!-- Search Field -->
	<div class="form-group col-lg-12">
		<div class="input-group">
			<input ng-model="$ctrl.searchQuery" class="form-control" type="text"
				name="search" placeholder="for example: cancer" required /> <span
				class="input-group-btn">
				<button class="btn btn-success" type="submit"
					ng-click="$ctrl.submit()">
					<span aria-hidden="true">Search</span>
				</button>
			</span>
		</div>
	</div>
</form>
<div>
	<ul class="list-group">
		<li ng-repeat="cond in $ctrl.conditions" class="list-group-item">
			<a href="{{cond.url}}" target="blank">{{cond.title}}</a>
		</li>
	</ul>
</div>
